@font-face {
  font-family: 'Louis George Cafe';
  src: local('Louis George Cafe'),
    url(./assets/LouisGeorgeCafe.ttf) format('truetype');
}

:root {
  --black: hsl(243, 17%, 24%);
  --blue: hsl(213, 69%, 57%);
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;
  --br: 6px;
  --bs: 0 6px 6px hsla(213, 92%, 10%, 14%), 0 10px 20px hsla(213, 92%, 10%, 8%);
  --gray: hsl(243, 17%, 36%);
  --green: hsl(168, 92%, 44%);
  --light-gray: hsl(213, 39%, 92%);
  --max-width: var(--bp-xl);
  --red: hsl(348, 100%, 70%);
  --white: hsl(213, 69%, 98%);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  font-family: inherit;
}
html,
body {
  box-sizing: border-box;
  color: var(--black);
  font-family: 'Louis George Cafe', Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--white);
}
h1,
h2,
p {
  margin: 1em 0;
}
h1 {
  font-size: 2rem;
  margin: 4rem 0;
}
h2 {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.2rem;
}
p {
  line-height: 1.6;
}
input,
button {
  background-color: transparent;
  border: none;
  font-size: inherit;
}
input:focus,
button:focus {
  outline: none;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}

.accent {
  color: var(--red);
}
.underline {
  background-image: linear-gradient(
    to top,
    var(--red),
    var(--red) 10%,
    transparent 10%,
    transparent 100%
  );
}
.underline.link:hover,
.underline.link:focus {
  color: var(--black);
  background-image: linear-gradient(to top, var(--red), var(--red));
}

/* All media queries here until styled-jsx adds support */
/* Tried styled-components but got FOUC */
@media screen and (min-width: 576px) {
  #home-link h1 {
    max-width: 100%;
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  #search {
    max-width: 400px;
  }
}
